In [159]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [160]:
dataset = pd.read_csv('D:\Academic\Data Science\lc_data\lending-club-loan-data/loan.csv')
findMeanAndReplace_cols = pd.read_csv('D:\Academic\Data Science\lc_data/findMeanAndReplace_cols.csv')
remap_cols = pd.read_csv('D:\Academic\Data Science\lc_data/remap_cols.csv')
drop_cols = pd.read_csv('D:\Academic\Data Science\lc_data/drop_col.csv')

In [161]:
dataset.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Basic Feature Removal
1. Remove any column that has a null value <<< Not ideal. Change it.
2. Convert all non-numeric columns to numeric representations.

In [162]:
#Labels (y_true of this dataset)
#y = dataset.pop("int_rate")
# Drop Columns with Null values.
# Usually, null values need to be filled with mean or some kind of aggregate function. 
# Must Analyse each feature for that.
#dataset = dataset.dropna(axis=1)
def deleteColumns(df, col):
    df.pop(col)

In [163]:
for col in list(drop_cols["Columns"]):
    deleteColumns(dataset,col)

In [164]:
#Calculate mean of a column and Replace Nulls
def findMeanAndReplaceNull(df, col):
    col_values = list(df[col]);
    nan_values = 0
    sum = 0
    #Checking nan values in each column list so that it is not included in sum
    for value in col_values:
        if(math.isnan(value)):
            nan_values = nan_values+1
            #print("Nan")
        else:
            sum = sum+value
    col_mean = sum/(len(col_values)-nan_values) 
    print("Col_length : " + str(len(col_values))+"\tCol Sum : "+str(sum)+"\tMean : "+str(col_mean)+"\tCol_name : "+col)
    if(math.isnan(col_mean)):
        print("*************************"+col+"*************************")
    if(nan_values == len(col_values)):
        print("*************************"+col+"*************************")
    df[col].fillna(col_mean, inplace=True) #Replacing nulls with mean

In [165]:

def findMeanAndReplaceNullInDataset(df,findMeanAndReplace_cols):
    for col in list(findMeanAndReplace_cols["Columns"]):
        findMeanAndReplaceNull(df,col)

In [166]:
findMeanAndReplaceNullInDataset(dataset,findMeanAndReplace_cols)
#findMeanAndReplaceNull(dataset, "annual_inc")

Col_length : 887379	Col Sum : 13093511950.0	Mean : 14755.26460508982	Col_name : loan_amnt
Col_length : 887379	Col Sum : 13081632625.0	Mean : 14741.877625005776	Col_name : funded_amnt
Col_length : 887379	Col Sum : 13046658141.926006	Mean : 14702.46438322972	Col_name : funded_amnt_inv
Col_length : 887379	Col Sum : 11754878.610034421	Mean : 13.246739679476775	Col_name : int_rate
Col_length : 887379	Col Sum : 387533607.7601214	Mean : 436.7171273605995	Col_name : installment
Col_length : 887379	Col Sum : 66577605689.21044	Mean : 75027.58776076681	Col_name : annual_inc
Col_length : 887379	Col Sum : 16112174.879999854	Mean : 18.157038739929448	Col_name : dti
Col_length : 887379	Col Sum : 279020.0	Mean : 0.31444187750042263	Col_name : delinq_2yrs
Col_length : 887379	Col Sum : 616374.0	Mean : 0.694623316616893	Col_name : inq_last_6mths
Col_length : 887379	Col Sum : 14751907.0	Mean : 34.06379844227337	Col_name : mths_since_last_delinq
Col_length : 887379	Col Sum : 9609869.0	Mean : 70.1179032928867	Col_name : mths_since_last_record
Col_length : 887379	Col Sum : 10247534.0	Mean : 11.548469037020341	Col_name : open_acc
Col_length : 887379	Col Sum : 173306.0	Mean : 0.19530737589451738	Col_name : pub_rec
Col_length : 887379	Col Sum : 15015151520.0	Mean : 16920.78753272277	Col_name : revol_bal
Col_length : 887379	Col Sum : 48838270.57000199	Mean : 55.0676932314199	Col_name : revol_util
Col_length : 887379	Col Sum : 22421583.0	Mean : 25.26802614526399	Col_name : total_acc
Col_length : 887379	Col Sum : 7456756527.960241	Mean : 8403.124851906841	Col_name : out_prncp
Col_length : 887379	Col Sum : 7453729137.090269	Mean : 8399.71324213247	Col_name : out_prncp_inv
Col_length : 887379	Col Sum : 6707544063.703547	Mean : 7558.826683641992	Col_name : total_pymnt
Col_length : 887379	Col Sum : 6674119711.3089285	Mean : 7521.160306147574	Col_name : total_pymnt_inv
Col_length : 887379	Col Sum : 5109267768.489849	Mean : 5757.70642362491	Col_name : total_rec_prncp
Col_length : 887379	Col Sum : 1557176508.5700939	Mean : 1754.8043266406958	Col_name : total_rec_int
Col_length : 887379	Col Sum : 352015.9650539062	Mean : 0.3966917912796068	Col_name : total_rec_late_fee
Col_length : 887379	Col Sum : 40747772.26296362	Mean : 45.91924337060447	Col_name : recoveries
Col_length : 887379	Col Sum : 4331081.602100401	Mean : 4.880757378865627	Col_name : collection_recovery_fee
Col_length : 887379	Col Sum : 1920417345.4782414	Mean : 2164.1455854581204	Col_name : last_pymnt_amnt
Col_length : 887379	Col Sum : 12758.0	Mean : 0.014379521073358326	Col_name : collections_12_mths_ex_med
Col_length : 887379	Col Sum : 9778175.0	Mean : 44.10483845505023	Col_name : mths_since_last_major_derog
Col_length : 887379	Col Sum : 56200296.91999999	Mean : 109981.01158512717	Col_name : annual_inc_joint
Col_length : 887379	Col Sum : 9319.850000000004	Mean : 18.310117878192543	Col_name : dti_joint
Col_length : 887379	Col Sum : 4429.0	Mean : 0.004991266129486673	Col_name : acc_now_delinq

In [167]:
findMean(dataset, "int_rate")

Col_length : 887379
Col_mean : 13.246739679476775

In [168]:
# Function to remap non-numeric values to a number value.
def remap(df, col) :
  col_set = list(set(df[col]));  # Get the column specified, covert it to set so that all duplicates are removed
  col_set_map = {val: i+1 for i, val in enumerate(sorted(col_set))} # Enumerate over the sorted set and build a Mapping dictionary
  df[col].replace(col_set_map, inplace=True) # Replace the values with the provided map
  print("Remaped", col, "with", col_set_map); # Log

In [169]:
# Convert non-numeric columns to numeric
remap(dataset, "term")

Remaped term with {' 36 months': 1, ' 60 months': 2}

In [170]:
remap(dataset, "grade")

Remaped grade with {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

In [171]:
remap(dataset, "sub_grade")

Remaped sub_grade with {'A1': 1, 'A2': 2, 'A3': 3, 'A4': 4, 'A5': 5, 'B1': 6, 'B2': 7, 'B3': 8, 'B4': 9, 'B5': 10, 'C1': 11, 'C2': 12, 'C3': 13, 'C4': 14, 'C5': 15, 'D1': 16, 'D2': 17, 'D3': 18, 'D4': 19, 'D5': 20, 'E1': 21, 'E2': 22, 'E3': 23, 'E4': 24, 'E5': 25, 'F1': 26, 'F2': 27, 'F3': 28, 'F4': 29, 'F5': 30, 'G1': 31, 'G2': 32, 'G3': 33, 'G4': 34, 'G5': 35}

In [172]:
remap(dataset, "verification_status")

Remaped verification_status with {'Not Verified': 1, 'Source Verified': 2, 'Verified': 3}

In [173]:
remap(dataset, "loan_status")

Remaped loan_status with {'Charged Off': 1, 'Current': 2, 'Default': 3, 'Does not meet the credit policy. Status:Charged Off': 4, 'Does not meet the credit policy. Status:Fully Paid': 5, 'Fully Paid': 6, 'In Grace Period': 7, 'Issued': 8, 'Late (16-30 days)': 9, 'Late (31-120 days)': 10}

In [174]:
remap(dataset, "home_ownership")

Remaped home_ownership with {'ANY': 1, 'MORTGAGE': 2, 'NONE': 3, 'OTHER': 4, 'OWN': 5, 'RENT': 6}

In [175]:
remap(dataset, "application_type")

Remaped application_type with {'INDIVIDUAL': 1, 'JOINT': 2}

In [176]:
remap(dataset, "initial_list_status")

Remaped initial_list_status with {'f': 1, 'w': 2}

In [177]:
remap(dataset, "pymnt_plan")

Remaped pymnt_plan with {'n': 1, 'y': 2}

In [178]:
# Dropping Columns that are not needed. [Dates, ids, urls, address, etc]
cols = ["member_id", "id", "issue_d", "url", "purpose","zip_code", "addr_state","emp_title", "emp_length", "desc", "title", "earliest_cr_line", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d", "verification_status_joint"] # Add the columns that need to be dropped
for column in cols :
  dataset.pop(column) # Drop the column
print("Dropped the following columns:", ', '.join(cols)) # Log

Dropped the following columns: member_id, id, issue_d, url, purpose, zip_code, addr_state, emp_title, emp_length, desc, title, earliest_cr_line, last_pymnt_d, next_pymnt_d, last_credit_pull_d, verification_status_joint

In [179]:
dataset.head(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,acc_now_delinq
0,5000.0,5000.0,4975.0,1,10.65,162.87,2,7,6,24000.0,...,0.00,0.00,171.62,0.0,44.104838,1.0,1,109981.011585,18.310118,0.0
1,2500.0,2500.0,2500.0,2,15.27,59.83,3,14,6,30000.0,...,117.08,1.11,119.66,0.0,44.104838,1.0,1,109981.011585,18.310118,0.0
2,2400.0,2400.0,2400.0,1,15.96,84.33,3,15,6,12252.0,...,0.00,0.00,649.91,0.0,44.104838,1.0,1,109981.011585,18.310118,0.0
3,10000.0,10000.0,10000.0,1,13.49,339.31,3,11,6,49200.0,...,0.00,0.00,357.48,0.0,44.104838,1.0,1,109981.011585,18.310118,0.0
4,3000.0,3000.0,3000.0,2,12.69,67.79,2,10,6,80000.0,...,0.00,0.00,67.79,0.0,44.104838,1.0,1,109981.011585,18.310118,0.0

In [180]:
dataset.keys()

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'loan_status', 'pymnt_plan', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'acc_now_delinq'],
      dtype='object')

Need to confirm if any value in the data frame is of non-numeric type. This is because non-numeric types cannot be used in training

In [183]:
columnsWithStringType = []
for k in dataset.keys() :
  col = dataset[k];
  for v in col :
    if type(v) == type(""):
      columnsWithStringType.append(k)
      break;
#print(columnsWithStringType)      
assert len(columnsWithStringType) == 0, "Some columns have string type."
print("All columns are number type.");

All columns are number type.

In [ ]:
dataset.head()

In [187]:
#path = "D:\Academic\Data Science\lc_data"
dataset.to_csv("D:\Academic\Data Science\lc_data/cleaned_data.csv")